[mysqld]
user=mysql							# 서버를 실행하는 사용자 계정
datadir=/var/lib/mysql 				# 데이터 파일을 저장할 디렉토리
socket=/var/run/mysqld/mysqld.sock 	# 소켓 파일 경로
pid-file=/var/run/mysqld/mysqld.pid	# 서버 pid 기록 파일 경로(서버 확인 시 유용)
bind-address=0.0.0.0 				# 모든 주소에 대해 연결 적용
port=3306 							# 서버가 사용할 포트 번호